{% extends 'base.html.twig' %}
{% block title %}ProStage | Accueil{% endblock %}

{% block body %}
    <div class="row">
		<div class="col-md-12">
        <h3>Les derniers stages enregistrer :</h3>
		</div>
	</div>
    <div class="row shadow p-3 mb-5 bg-body rounded">
		{% for unStage in stages %}
			
				<!--Box d'un stage--!>
				<div class="col-md-4">
				
			
				<h2>
					{{unStage.titre}}
				</h2>
				<p>
					{{unStage.mission}}
				</p>
				<p>
					<a class="btn" href="/stages/{{unStage.id}}">En savoir plus »</a>
				</p>
			</div>

			
		{% endfor %}
	</div>
{% endblock %}
