{% extends 'base.html.twig' %}
{% block title %}ProStage | Listes des formations{% endblock %}
{% block information %}
	{% set nbrFormation = 0 %}
	{% for uneFormation in formations %}
		{% set nbrFormation = nbrFormation + 1 %}
	{% endfor %}
	<h3>{{nbrFormation}} formation(s) enregistrer :</h3>
{% endblock %}
{% block body %}
<div class="row">
		<div class="col-md-12">
        <table class="table">
			<thead>
				<tr>
					<th>Acronyme</th>
					<th>Nom complet</th>
				</tr>
			</thead>
			<tbody>
				{% for uneFormation in formations %}
					<tr>
						<th scope="row"><a href="{{path('affichageStageParFormation', {id:uneFormation.id})}}">{{uneFormation.nomCourt}}</a></th>
						<th scope="row">{{uneFormation.nomLong}}</th>
					</tr>
				{% endfor %}
			</tbody>
			</table>
		</div>
	</div>
{% endblock %}
