{% extends 'base.html.twig' %} {# Implémentation à la template, la template de structure de base #}

{# Block de titre de l'onglet de la page #}
{% block title %}{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<h3> stage(s) :</h3>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Nom</th>
						<th>Titre</th>
						<th>Entreprise</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					
					
					{% for uneFormation in formation %}
						{% if uneFormation%}
							<tr>
								<th scope="row">{{uneFormation.nomCourt}}</th>
								<td><a href="{{path('affichageStage', {id:unStage.id})}}">{{unStage.titre}}</a></td>
								<td>{{unStage.mission}}</td>
							</tr>
						{% endif%}
					{% endfor %}
					
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
