{% extends 'base.html.twig' %}
{% block title %}ProStage | Entreprise{% endblock %}

{% block body %}
<div class="row">
		<div class="col-md-12">
        <h3>Par formation(s) : Toutes</h3>
		<table class="table">
			<thead>
				<tr>
				<th scope="col">ID</th>
				<th scope="col">Titre</th>
				<th scope="col">Nom</th>
				<th scope="col">Mail</th>
				<th scope="col">Statut</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<th scope="row">1</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
				<td>Libre</td>
				</tr>
				<tr>
				<th scope="row">2</th>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>@fat</td>
				<td>Libre</td>
				</tr>
				<tr>
				<th scope="row">3</th>
				<td colspan="2">Larry the Bird</td>
				<td>@twitter</td>
				<td>Libre</td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
{% endblock %}
